h1 {
    border: thin solid transparent;
}
h2 {
	font-size: 2.6em;
	color: blue;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	
}

p {
    font-size: 1.2em;
	color: #999999;
}

h3 {
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	color: black;
}
h4 {
	font-size: 1em;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

h5 {
	font-size: 1em;
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	margin-right: 1px;
  	margin-left: 1px;
	margin-bottom: 1px;
	margin-top: 1px;
}
h6 {
	font-size: 1em;
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 1px;
	margin-top: 1px;
}
h7 {
	font-size: 1em;
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	margin: auto;
}
	
ul {
    font-size: 0.8em;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
}
h8 {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	color: #999999;
}
h9 {
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	color: #999999;
}
hu {
	font-size: 1.4em;
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	color: black;}
h10{
	font-size: 0.8em;
	color: #999999;
	font-family: 'Open Sans', sans-serif;
}
h11{
	flex: 1;
	font-size: 1.4em;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	color: #999999;
}
h12{
	flex: 1;
	font-size: 2em;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	color: black;
}
h66{
	font-size: 1em;
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 1px;
	margin-top: 1px;
	text-decoration: none;
}
hlol{
	font-size: 1em;
	color: #999999;
	font-family: 'Open Sans', sans-serif;
}