.small {
    font-size: 0.8em;
}

.gray-background {
    background-color: #171f36;
    border: 1px solid #000000;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.link {
    margin: 10px;
}

.email {
    color: #949494;
    text-decoration: none;
}

.email:after {
    color: #949494;
    text-decoration: none;
}

.email:hover {
    color: #ffff;
    text-decoration: underline;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
    margin-right: 10px;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}
.fa-github {
  background: #010409;
  color: white;
    margin-left: 10px;
}

.description {
    font-family: Consolas, sans-serif;
    color: #e3a112;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    margin: auto;
}

.name {
    font-family: Consolas, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
    margin: auto;
}